hardware/kicad/fp-info-cache
hardware/kicad/filament_dryer-backups/*.zip
hardware/kicad/00_project_library.bak
software/micropython/config_*.py
software/dump_uart_*.txt
software/experiments_obsolete/mqtt_pico/experiment_b/secrets.py
web_downloads/**
.gitignore
*_gitignore*
**/*.pyc
**/*.gcode
